.header {
  height: 670px;
  opacity: 0.6;
  background-color: #0c0c0c;
}

.logo {
  width: 82px;
  height: 32px;
}

.menu-icon{
  width: 40px;
  height: 40px;
  text-align: right;
}

.title {
  text-align: center;
}

.little-title {
  height: 9px;
  font-family: WorkSans;
  font-size: 14px;
  font-weight: bold;
  line-height: 6;
  letter-spacing: 2.8px;
  text-align: center;
  color: #ffffff;
}

.header-title {
  font-family: PlayfairDisplay;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
}

.header-titile-st {
  font-weight: normal;
  font-style: italic;
  font-family: PlayfairDisplay;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
}

.ellipse {
  width: 50px;
  height: 50px;
  opacity: 0.6;
  background-color: #ffffff;
  border: solid 1px #ffffff;
}